<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastre-se</title>
</head>

<body>
  <main>
    <section>
      <img src="../assets/bg-main-desktop.png">
    </section>
    <section class="cartoes">
      <div id="card-front">
        <img src="../assets/card-logo.svg">
        <h1>0000 0000 0000 0000 0000</h1>
        <div>
          <p> esse é o nome {{text}}</p>
          <p>00/00</p>

        </div>
        <!-- <img src="../assets/bg-card-front.png"> -->
      </div>
      <div>
        <h1 id="teste1">123</h1>
        <img id="card-back" src="../assets/bg-card-back.png">
      </div>
    </section>
   
    <section id="formulário">
      <form>


      <div id="nome-numero">
        <label for="nome">Nome Titular</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="text" placeholder="ex.: joão da silva" type="text">
        <label for="numero">Número do Cartão</label>
        <input  placeholder="ex.: 123 426 664 418" type="text">
      </div>
      <div class="data-cvc">
        <div id="data">

          <label for="data">Data exp. (mm/yy)</label>
          <div id="data-input">

            <input maxlength="2" placeholder="MM" >
            <input maxlength="2" placeholder="YY">
          </div>
        </div>
        <div id="cvc">

          <label for="cvc">CVC</label>
          <input placeholder="ex.: 123"  type="number">
        </div>
        </div>

        <button type="submit">Confirmação</button>
      </form>

      
    
    </section>

  </main>
</body>

</html>