@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
/* @import "primeng/resources/primeng.css"; */
/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
/* @import "primeng/resources/primeng.css"; */

body{
    font-family: "Space Grotesk", serif;
    display: flex;
    flex-direction: row;
}
.secEsquerda{
    width: 50%;
    height: 100vh; /* Altura desejada */
    overflow: hidden; /* Esconde partes fora da área */
    position: relative;
}
.imgFundo{
    width: 100%; /* Ajusta a largura */
    height: 100%; /* Ajusta a altura */
    object-fit: cover; /* Mantém proporção e corta o excesso */
}
.cartoes{
    display: flex;
    flex-direction: column;
    z-index: 999;
    left: 12%;
    top:5%;
    gap: 40px;
    position: absolute;
    color: white;
    #cvc{
        font-size: 20px;
        z-index: 999;
        position: absolute;
        left:107%;
        top:73.4%;
    }
    #card-front{
        background-repeat: no-repeat;
        padding: 5%;
        background-image: url("../assets/bg-card-front.png");
        img{
            padding-bottom: 75px ;
        }
        h1{
            letter-spacing: 5.5px;    
            font-size: 25px;
        }
        div{
            font-size: 20px;
            padding-top: 18px;
            width: 97.3%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #card-back{
      position: relative;
      left: 25%;
    }
    div{
        width: 100%;
        
        justify-content: space-between;
    }
  

}

#formulário{

    display: flex;
    width: 50%;
    align-items: center;
    transform: translateX(50%);
    justify-content: center;
    flex-direction: column;
    form{
        width: 70%;
        height: 40%;
        /* display: flex;
        flex-direction: column; */
        /* background: beige;  */
        label{
            padding-bottom: 2%;
        }
        input{
            padding: 2%;
            border: #adadadb7 1px solid;
            border-radius: 5px;
        }
        .erro{
            height: 20px;
        }
        p{
            color: red;
            font-size: 10px;
        }
    
        div{
            display: flex;
            flex-direction: column;
        }
        .data-cvc{
            display: flex;
            flex-direction: row;
            #data{
                display: flex;
                flex-direction: column;
                #data-input{      
                  gap: 9%;           
                  display: flex;
                  flex-direction: row;  
                input{
                    padding-left: 3%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35%;
                }   
                }
            }
            #cvc{
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
       button{
        color: #FFFFFF;
        background-color: #22092F;
        border: none;
        width: 100%;
        padding: 4%;
        margin-top: 2%;
        border-radius: 5px;
       }
       button:hover{
        cursor: pointer;
       }
       input:hover{
        border:  #3b3a3ad7 1px solid;
        transition:.6s ease;
       }
       input{
        transition:.6s ease;
       }
        /* input{
            padding: 4%;
            border-radius: 10px;
            border: 0.01px solid;
            gap: 10px;
             height: 9%;
        
        } */
    }
}
.dadosEnviados{

    display: flex;
    width: 50%;
    align-items: center;
    transform: translateX(80%);
    justify-content: center;
    flex-direction: column;
    gap:20px;

    button{
        color: #FFFFFF;
        background-color: #22092F;
        border: none;
        width: 100%;
        padding: 4%;
        margin-top: 2%;
        border-radius: 5px;
    }

}